{
  "openapi": "3.1.0",
  "info": {
    "title": "Sleak Services API",
    "version": "1.0",
    "description": "Combined OpenAPI document for all Sleak internal services. Each path is prefixed with its service name."
  },
  "servers": [
    {
      "url": "https://api.v1.sleak.chat"
    }
  ],
  "tags": [
    {
      "name": "Agent",
      "description": "A LangGraph-based API for flexible agent configuration with optional tools"
    },
    {
      "name": "Memory Service",
      "description": "A service for managing conversation memory using PostgreSQL checkpointing"
    },
    {
      "name": "Embedding Web",
      "description": ""
    },
    {
      "name": "Evaluations Processor",
      "description": "A FastAPI application for processing chat evaluations"
    },
    {
      "name": "Chat Evaluation Queue",
      "description": "A FastAPI application for managing chat evaluation queues with 15-minute timeout"
    },
    {
      "name": "Chat Closing Queue",
      "description": "A FastAPI application for managing chat queues with configurable timeout"
    },
    {
      "name": "Chat Tagging Queue",
      "description": "A FastAPI application for managing chat queues with 15-minute timeout"
    }
  ],
  "paths": {
    "/agent/webhook/message": {
      "post": {
        "summary": "Process Message Webhook",
        "description": "Receives an inbound visitor message, runs the LangGraph agent with the chatbot's configuration and tools, and posts the AI response back to the chat.\n\nActual path on the Agent service: `/webhook/message`.",
        "operationId": "agent_process_message_webhook_webhook_message_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/agent_WebhookMessage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agent_HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Agent"
        ]
      },
      "servers": [
        {
          "url": "https://agent-dev-849186242728.europe-west4.run.app"
        }
      ]
    },
    "/memory/add-messages": {
      "post": {
        "summary": "Append Messages To Session Memory",
        "description": "Appends the provided messages to a session's PostgreSQL-checkpointed conversation history, deduplicating any messages whose id already exists in the session and sorting new messages by their timestamp before persisting.\n\nActual path on the Memory Service service: `/add-messages`.",
        "operationId": "memory_append_memory_add_messages_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/memory_AppendMemoryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/memory_AppendMemoryResponse"
                }
              }
            }
          },
          "500": {
            "description": "Error appending memory to the session"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/memory_HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Memory Service"
        ]
      },
      "servers": [
        {
          "url": "https://memory-dev-849186242728.europe-west4.run.app"
        }
      ]
    },
    "/embedding_web/process": {
      "post": {
        "summary": "Scrape And Embed Web Pages",
        "description": "Scrapes a datasource's web pages and embeds them, dispatching queued pages for v2 datasources or preparing a job from the supplied URLs, then offloading to Hatchet or falling back to a Cloud Run job.\n\nActual path on the Embedding Web service: `/process`.",
        "operationId": "embedding_web_scrape_endpoint_process_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/embedding_web_ScrapeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/embedding_web_ScrapeResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error while preparing or dispatching the scrape job."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/embedding_web_HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Embedding Web"
        ]
      },
      "servers": [
        {
          "url": "https://embedding-web-dev-849186242728.europe-west4.run.app"
        }
      ]
    },
    "/embedding_web/recurring": {
      "post": {
        "summary": "Reconcile And Re-Scrape Datasource",
        "description": "Re-discovers a v2 datasource's live sources and reconciles them against stored pages: detecting added, deleted, and (via sitemap lastmod) changed URLs, purging removed pages and their embeddings, and dispatching a job for the pages that need reprocessing.\n\nActual path on the Embedding Web service: `/recurring`.",
        "operationId": "embedding_web_recurring_endpoint_recurring_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/embedding_web_RecurringRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Recurring Endpoint Recurring Post"
                }
              }
            }
          },
          "400": {
            "description": "Datasource has no website_url set in its datasource_type_config."
          },
          "404": {
            "description": "Datasource not found."
          },
          "500": {
            "description": "Unexpected error while reconciling the datasource and dispatching the job."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/embedding_web_HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Embedding Web"
        ]
      },
      "servers": [
        {
          "url": "https://embedding-web-dev-849186242728.europe-west4.run.app"
        }
      ]
    },
    "/embedding_web/delete/source": {
      "post": {
        "summary": "Delete Pages For Sources",
        "description": "Deletes all scrape_pages and their Zilliz embeddings that belong to the given source_urls within a datasource. Validates that every source_url exists in the datasource_type_config before deleting.\n\nActual path on the Embedding Web service: `/delete/source`.",
        "operationId": "embedding_web_delete_source_endpoint_delete_source_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/embedding_web_SourceDeleteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Delete Source Endpoint Delete Source Post"
                }
              }
            }
          },
          "404": {
            "description": "Datasource not found, or a source_url not present in the datasource_type_config sources."
          },
          "500": {
            "description": "Unexpected error while deleting the pages and their embeddings."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/embedding_web_HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Embedding Web"
        ]
      },
      "servers": [
        {
          "url": "https://embedding-web-dev-849186242728.europe-west4.run.app"
        }
      ]
    },
    "/embedding_web/delete/page": {
      "post": {
        "summary": "Delete Specific Pages",
        "description": "Deletes the given scrape_pages ids (scoped to datasource_id) and their Zilliz embeddings.\n\nActual path on the Embedding Web service: `/delete/page`.",
        "operationId": "embedding_web_delete_page_endpoint_delete_page_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/embedding_web_PageDeleteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Delete Page Endpoint Delete Page Post"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error while deleting the pages and their embeddings."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/embedding_web_HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Embedding Web"
        ]
      },
      "servers": [
        {
          "url": "https://embedding-web-dev-849186242728.europe-west4.run.app"
        }
      ]
    },
    "/embedding_web/sitemap/discover": {
      "post": {
        "summary": "Discover Crawlable Sources",
        "description": "Discovers the sitemaps and crawlable sources for a website URL, optionally applying include/exclude page rules, and returns the grouped sources and URLs without scraping them.\n\nActual path on the Embedding Web service: `/sitemap/discover`.",
        "operationId": "embedding_web_sitemap_discover_endpoint_sitemap_discover_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/embedding_web_SitemapDiscoverRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/embedding_web_SitemapDiscoverResponse"
                }
              }
            }
          },
          "404": {
            "description": "The website URL could not be loaded or was not found."
          },
          "500": {
            "description": "Unexpected error during sitemap discovery."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/embedding_web_HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Embedding Web"
        ]
      },
      "servers": [
        {
          "url": "https://embedding-web-dev-849186242728.europe-west4.run.app"
        }
      ]
    },
    "/embedding_web/source/fetch": {
      "post": {
        "summary": "Fetch A Single Sitemap Source",
        "description": "Fetches and parses a single sitemap URL, returning its source entry with the discovered URLs. Returns 422 for invalid sitemap content and 502 when the sitemap cannot be retrieved.\n\nActual path on the Embedding Web service: `/source/fetch`.",
        "operationId": "embedding_web_sitemap_fetch_endpoint_source_fetch_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/embedding_web_SitemapGetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/embedding_web_SitemapGetResponse"
                }
              }
            }
          },
          "502": {
            "description": "The sitemap could not be fetched from the remote host."
          },
          "500": {
            "description": "Unexpected error while fetching or parsing the sitemap."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/embedding_web_HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Embedding Web"
        ]
      },
      "servers": [
        {
          "url": "https://embedding-web-dev-849186242728.europe-west4.run.app"
        }
      ]
    },
    "/evaluations_processor/process": {
      "post": {
        "summary": "Process Chat Evaluation",
        "description": "Runs LangSmith trace and thread evaluations for a chat and pushes the results to Grafana.\n\nActual path on the Evaluations Processor service: `/process`.",
        "operationId": "evaluations_processor_process_evaluation_process_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/evaluations_processor_EvaluationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "500": {
            "description": "Unexpected error while processing the chat evaluation."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/evaluations_processor_HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Evaluations Processor"
        ]
      },
      "servers": [
        {
          "url": "https://evaluations-processor-dev-849186242728.europe-west4.run.app"
        }
      ]
    },
    "/evaluations_processor/process_qa": {
      "post": {
        "summary": "Process QA Evaluation",
        "description": "Queues a background QA evaluation for a single bot message, using the chat_id and message id from the provided record.\n\nActual path on the Evaluations Processor service: `/process_qa`.",
        "operationId": "evaluations_processor_process_qa_evaluation_process_qa_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/evaluations_processor_QAEvaluationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/evaluations_processor_HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Evaluations Processor"
        ]
      },
      "servers": [
        {
          "url": "https://evaluations-processor-dev-849186242728.europe-west4.run.app"
        }
      ]
    },
    "/queueing_evaluations/queueing/evaluations": {
      "post": {
        "summary": "Queue Chat Evaluation",
        "description": "Schedules a delayed Cloud Tasks job that triggers the n8n evaluation webhook for a chat. Skips queueing when the chatbot's daily rate limit is reached, the chat is already evaluated, the chat has no llm_model, or the chat has 5 or fewer messages; any existing task for the same chat is replaced.\n\nActual path on the Chat Evaluation Queue service: `/queueing/evaluations`.",
        "operationId": "queueing_evaluations_queue_chat_evaluation_queueing_evaluations_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/queueing_evaluations_EvaluationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/queueing_evaluations_EvaluationResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error while queueing the chat evaluation"
          },
          "503": {
            "description": "Task queue is not available"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/queueing_evaluations_HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Chat Evaluation Queue"
        ]
      },
      "servers": [
        {
          "url": "https://queueing-evaluations-dev-849186242728.europe-west4.run.app"
        }
      ]
    },
    "/queueing_chat_closed/queueing/close_chat": {
      "post": {
        "summary": "Close Or Delete Chat",
        "description": "Deletes the chat when 'delete' is true, otherwise schedules a delayed Cloud Tasks job to close it.\n\nActual path on the Chat Closing Queue service: `/queueing/close_chat`.",
        "operationId": "queueing_chat_closed_queue_or_delete_chat_queueing_close_chat_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/queueing_chat_closed_CloseChatRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/queueing_chat_closed_ChatResponse"
                    },
                    {
                      "$ref": "#/components/schemas/queueing_chat_closed_DeleteResponse"
                    }
                  ],
                  "title": "Response Queue Or Delete Chat Queueing Close Chat Post"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error while closing or deleting the chat"
          },
          "503": {
            "description": "Task queue is not available"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/queueing_chat_closed_HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Chat Closing Queue"
        ]
      },
      "servers": [
        {
          "url": "https://queueing-chats-closed-dev-849186242728.europe-west4.run.app"
        }
      ]
    },
    "/queueing_tags/queueing/tags": {
      "post": {
        "summary": "Queue Chat Tagging Task",
        "description": "Schedules a Cloud Tasks job that calls the n8n webhook to tag the chat 15 minutes later. Any pending task previously queued for the same chat is deleted first, so the timer effectively resets on every call.\n\nActual path on the Chat Tagging Queue service: `/queueing/tags`.",
        "operationId": "queueing_tags_queue_chat_tag_queueing_tags_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/queueing_tags_ChatRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/queueing_tags_ChatResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error while queueing the chat tagging task"
          },
          "503": {
            "description": "Task queue is not available"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/queueing_tags_HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "Chat Tagging Queue"
        ]
      },
      "servers": [
        {
          "url": "https://queueing-tags-dev-849186242728.europe-west4.run.app"
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "agent_HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/agent_ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "agent_ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "agent_WebhookMessage": {
        "properties": {
          "chat_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Chat Id",
            "description": "Identifier of the chat the message belongs to."
          },
          "visitor_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Visitor Id",
            "description": "Identifier of the visitor who sent the message."
          },
          "chatbot_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Chatbot Id",
            "description": "Identifier of the chatbot handling the conversation."
          },
          "organization_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Organization Id",
            "description": "Identifier of the owning organization."
          },
          "message": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Message",
            "description": "The visitor's message body."
          },
          "messages": {
            "items": {},
            "type": "array",
            "title": "Messages",
            "description": "Optional list of incoming messages for a multi-message turn."
          },
          "channel": {
            "type": "string",
            "title": "Channel",
            "description": "Channel the message arrived on (e.g. chat-ui, whatsapp).",
            "default": "chat-ui"
          },
          "external_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "External Id",
            "description": "External system identifier for the message or visitor."
          },
          "current_page": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Current Page",
            "description": "URL of the page the visitor is currently viewing."
          },
          "file": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "File",
            "description": "URL of a file attached to the message, if any."
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "WebhookMessage"
      },
      "memory_AppendMemoryRequest": {
        "properties": {
          "session_id": {
            "type": "string",
            "title": "Session Id",
            "description": "Conversation thread identifier used as the checkpointer thread_id to scope stored messages"
          },
          "messages": {
            "items": {
              "$ref": "#/components/schemas/memory_MessageObject"
            },
            "type": "array",
            "title": "Messages",
            "description": "Array of message objects with role and content"
          }
        },
        "type": "object",
        "required": [
          "session_id",
          "messages"
        ],
        "title": "AppendMemoryRequest"
      },
      "memory_AppendMemoryResponse": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Outcome of the append operation; 'success' when the request was processed"
          },
          "session_id": {
            "type": "string",
            "title": "Session Id",
            "description": "Conversation thread identifier the messages were appended to"
          },
          "messages_appended": {
            "type": "integer",
            "title": "Messages Appended",
            "description": "Number of messages received in the request payload, before deduplication"
          },
          "messages_ingested": {
            "type": "integer",
            "title": "Messages Ingested",
            "description": "Number of new messages actually persisted after removing duplicates by id",
            "default": 0
          },
          "total_messages": {
            "type": "integer",
            "title": "Total Messages",
            "description": "Total number of messages stored in the session after this operation"
          }
        },
        "type": "object",
        "required": [
          "status",
          "session_id",
          "messages_appended",
          "total_messages"
        ],
        "title": "AppendMemoryResponse"
      },
      "memory_HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/memory_ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "memory_MessageObject": {
        "properties": {
          "role": {
            "type": "string",
            "title": "Role",
            "description": "Role of the message: 'human', 'ai', or 'system'"
          },
          "content": {
            "type": "string",
            "title": "Content",
            "description": "Content of the message",
            "default": ""
          },
          "id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Id",
            "description": "Optional message ID for deduplication"
          },
          "timestamp": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Timestamp",
            "description": "Optional Unix timestamp of the message"
          }
        },
        "type": "object",
        "required": [
          "role"
        ],
        "title": "MessageObject"
      },
      "memory_ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "embedding_web_DiscoverPathGroup": {
        "properties": {
          "path": {
            "type": "string",
            "title": "Path"
          },
          "count": {
            "type": "integer",
            "title": "Count"
          },
          "urls": {
            "items": {
              "$ref": "#/components/schemas/embedding_web_DiscoverUrlEntry"
            },
            "type": "array",
            "title": "Urls"
          }
        },
        "type": "object",
        "required": [
          "path",
          "count",
          "urls"
        ],
        "title": "DiscoverPathGroup"
      },
      "embedding_web_DiscoverRules": {
        "properties": {
          "include": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Include",
            "default": []
          },
          "exclude": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Exclude",
            "default": []
          }
        },
        "type": "object",
        "title": "DiscoverRules"
      },
      "embedding_web_DiscoverSource": {
        "properties": {
          "type": {
            "type": "string",
            "title": "Type"
          },
          "source_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Source Url"
          },
          "has_lastmod": {
            "type": "boolean",
            "title": "Has Lastmod"
          },
          "paths": {
            "items": {
              "$ref": "#/components/schemas/embedding_web_DiscoverPathGroup"
            },
            "type": "array",
            "title": "Paths"
          }
        },
        "type": "object",
        "required": [
          "type",
          "has_lastmod",
          "paths"
        ],
        "title": "DiscoverSource"
      },
      "embedding_web_DiscoverUrlEntry": {
        "properties": {
          "url": {
            "type": "string",
            "title": "Url"
          },
          "lastmod": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Lastmod"
          }
        },
        "type": "object",
        "required": [
          "url"
        ],
        "title": "DiscoverUrlEntry"
      },
      "embedding_web_HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/embedding_web_ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "embedding_web_PageDeleteRequest": {
        "properties": {
          "datasource_id": {
            "type": "string",
            "title": "Datasource Id",
            "description": "ID of the data_source the pages belong to."
          },
          "pages": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Pages",
            "description": "scrape_pages row ids to delete (scoped to datasource_id); their Zilliz embeddings are purged as well."
          }
        },
        "type": "object",
        "required": [
          "datasource_id",
          "pages"
        ],
        "title": "PageDeleteRequest"
      },
      "embedding_web_RecurringRequest": {
        "properties": {
          "datasource_id": {
            "type": "string",
            "title": "Datasource Id",
            "description": "ID of the v2 data_source to reconcile against its live sources."
          }
        },
        "type": "object",
        "required": [
          "datasource_id"
        ],
        "title": "RecurringRequest"
      },
      "embedding_web_ScrapeRequest": {
        "properties": {
          "urls": {
            "anyOf": [
              {
                "items": {},
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Urls",
            "description": "URLs to scrape. For a fresh scrape this is a list of URL strings; when rescrape is true each item is an object carrying both 'url' and the existing 'id' of the scrape_pages row to update. Ignored for v2 datasources, which pull queued pages from the database instead."
          },
          "datasource_id": {
            "type": "string",
            "title": "Datasource Id",
            "description": "ID of the data_source these URLs belong to."
          },
          "organization_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Organization Id",
            "description": "Organization that owns the job; if omitted it is inferred from the queued scrape_pages rows (v2)."
          },
          "chatbot_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Chatbot Id",
            "description": "Chatbot the scraped content is associated with; if omitted it is inferred from the queued scrape_pages rows (v2)."
          },
          "rescrape": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Rescrape",
            "description": "When true, treat each urls item as an existing page object ({'url', 'id'}) and re-scrape it in place rather than creating new pages.",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "datasource_id"
        ],
        "title": "ScrapeRequest"
      },
      "embedding_web_ScrapeResponse": {
        "properties": {
          "success": {
            "type": "boolean",
            "title": "Success",
            "description": "Whether the scrape job was accepted and dispatched."
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Human-readable summary of what was dispatched or why it was not."
          },
          "error": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error",
            "description": "Error detail when the request could not be processed."
          },
          "job_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Job Id",
            "description": "Identifier of the created job, used to track processing progress."
          }
        },
        "type": "object",
        "required": [
          "success",
          "message"
        ],
        "title": "ScrapeResponse"
      },
      "embedding_web_SitemapDiscoverRequest": {
        "properties": {
          "url": {
            "type": "string",
            "title": "Url"
          },
          "chatbot_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Chatbot Id"
          },
          "page_rules": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/embedding_web_DiscoverRules"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "url"
        ],
        "title": "SitemapDiscoverRequest"
      },
      "embedding_web_SitemapDiscoverResponse": {
        "properties": {
          "website_url": {
            "type": "string",
            "title": "Website Url"
          },
          "sources": {
            "items": {
              "$ref": "#/components/schemas/embedding_web_DiscoverSource"
            },
            "type": "array",
            "title": "Sources"
          },
          "page_rules": {
            "$ref": "#/components/schemas/embedding_web_DiscoverRules",
            "default": {
              "include": [],
              "exclude": []
            }
          }
        },
        "type": "object",
        "required": [
          "website_url",
          "sources"
        ],
        "title": "SitemapDiscoverResponse"
      },
      "embedding_web_SitemapGetRequest": {
        "properties": {
          "url": {
            "type": "string",
            "title": "Url"
          }
        },
        "type": "object",
        "required": [
          "url"
        ],
        "title": "SitemapGetRequest"
      },
      "embedding_web_SitemapGetResponse": {
        "properties": {
          "source": {
            "$ref": "#/components/schemas/embedding_web_DiscoverSource"
          }
        },
        "type": "object",
        "required": [
          "source"
        ],
        "title": "SitemapGetResponse"
      },
      "embedding_web_SourceDeleteRequest": {
        "properties": {
          "datasource_id": {
            "type": "string",
            "title": "Datasource Id",
            "description": "ID of the data_source whose pages should be removed."
          },
          "source_urls": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Source Urls",
            "description": "The source_urls (sitemap/crawl sources) whose pages and embeddings should be deleted; each must exist in the datasource_type_config sources list."
          }
        },
        "type": "object",
        "required": [
          "datasource_id",
          "source_urls"
        ],
        "title": "SourceDeleteRequest"
      },
      "embedding_web_ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "evaluations_processor_EvaluationRequest": {
        "properties": {
          "chat_id": {
            "type": "string",
            "title": "Chat Id",
            "description": "Unique identifier for the chat to evaluate."
          }
        },
        "type": "object",
        "required": [
          "chat_id"
        ],
        "title": "EvaluationRequest"
      },
      "evaluations_processor_HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/evaluations_processor_ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "evaluations_processor_HealthResponse": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Liveness status of the service."
          }
        },
        "type": "object",
        "required": [
          "status"
        ],
        "title": "HealthResponse"
      },
      "evaluations_processor_QAEvaluationRequest": {
        "properties": {
          "record": {
            "$ref": "#/components/schemas/evaluations_processor_QARecord",
            "description": "Record containing the chat_id and bot message id to evaluate."
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "QAEvaluationRequest"
      },
      "evaluations_processor_QARecord": {
        "properties": {
          "chat_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Chat Id",
            "description": "Identifier of the chat the QA pair belongs to."
          },
          "id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Id",
            "description": "Identifier of the bot message being evaluated."
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "QARecord"
      },
      "evaluations_processor_ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "queueing_evaluations_EvaluationRequest": {
        "properties": {
          "chat_id": {
            "type": "string",
            "title": "Chat Id",
            "description": "Unique identifier for the chat"
          },
          "visitor_id": {
            "type": "string",
            "title": "Visitor Id",
            "description": "Unique identifier for the visitor"
          },
          "chatbot_id": {
            "type": "string",
            "title": "Chatbot Id",
            "description": "Unique identifier for the chatbot"
          }
        },
        "type": "object",
        "required": [
          "chat_id",
          "visitor_id",
          "chatbot_id"
        ],
        "title": "EvaluationRequest"
      },
      "queueing_evaluations_EvaluationResponse": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Outcome of the queueing request: 'success' when a task was created, or 'skipped' when the chat was rate-limited, already evaluated, missing an llm_model, or had 5 or fewer messages"
          },
          "task_id": {
            "type": "string",
            "title": "Task Id",
            "description": "Full Cloud Tasks resource name of the created evaluation task, or an empty string when the request was skipped"
          },
          "chat_id": {
            "type": "string",
            "title": "Chat Id",
            "description": "Identifier of the chat this response refers to, echoed back from the request"
          }
        },
        "type": "object",
        "required": [
          "status",
          "task_id",
          "chat_id"
        ],
        "title": "EvaluationResponse"
      },
      "queueing_evaluations_HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/queueing_evaluations_ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "queueing_evaluations_HealthResponse": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Service health indicator, always 'healthy' when the endpoint responds"
          }
        },
        "type": "object",
        "required": [
          "status"
        ],
        "title": "HealthResponse"
      },
      "queueing_evaluations_ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "queueing_chat_closed_ChatResponse": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Outcome of scheduling the close task."
          },
          "task_id": {
            "type": "string",
            "title": "Task Id",
            "description": "Identifier of the scheduled Cloud Tasks job."
          },
          "chat_id": {
            "type": "string",
            "title": "Chat Id",
            "description": "Echoed identifier of the chat."
          }
        },
        "type": "object",
        "required": [
          "status",
          "task_id",
          "chat_id"
        ],
        "title": "ChatResponse"
      },
      "queueing_chat_closed_CloseChatRequest": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Identifier of the chat to close or delete."
          },
          "delete": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Delete",
            "description": "If true, delete the chat instead of scheduling a close task."
          },
          "visitor_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Visitor Id",
            "description": "Identifier of the visitor associated with the chat."
          },
          "chatbot_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Chatbot Id",
            "description": "Identifier of the chatbot handling the chat."
          },
          "organization_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Organization Id",
            "description": "Identifier of the owning organization."
          },
          "chat_closing_settings": {
            "additionalProperties": true,
            "type": "object",
            "title": "Chat Closing Settings",
            "description": "Settings controlling chat-closing behavior."
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "id"
        ],
        "title": "CloseChatRequest"
      },
      "queueing_chat_closed_DeleteResponse": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Outcome of the delete operation."
          },
          "chat_id": {
            "type": "string",
            "title": "Chat Id",
            "description": "Echoed identifier of the chat."
          },
          "deleted_count": {
            "type": "integer",
            "title": "Deleted Count",
            "description": "Number of records deleted for the chat.",
            "default": 0
          }
        },
        "type": "object",
        "required": [
          "status",
          "chat_id"
        ],
        "title": "DeleteResponse"
      },
      "queueing_chat_closed_HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/queueing_chat_closed_ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "queueing_chat_closed_HealthResponse": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Liveness status of the service."
          }
        },
        "type": "object",
        "required": [
          "status"
        ],
        "title": "HealthResponse"
      },
      "queueing_chat_closed_ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "queueing_tags_ChatRequest": {
        "properties": {
          "chat_id": {
            "type": "string",
            "title": "Chat Id",
            "description": "Unique identifier for the chat"
          },
          "visitor_id": {
            "type": "string",
            "title": "Visitor Id",
            "description": "Unique identifier for the visitor"
          },
          "chatbot_id": {
            "type": "string",
            "title": "Chatbot Id",
            "description": "Chatbot id for the chat"
          }
        },
        "type": "object",
        "required": [
          "chat_id",
          "visitor_id",
          "chatbot_id"
        ],
        "title": "ChatRequest"
      },
      "queueing_tags_ChatResponse": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Outcome of the queueing operation; 'success' when the task was created"
          },
          "task_id": {
            "type": "string",
            "title": "Task Id",
            "description": "Fully qualified Cloud Tasks resource name of the created task"
          },
          "chat_id": {
            "type": "string",
            "title": "Chat Id",
            "description": "Identifier of the chat the queued task belongs to"
          }
        },
        "type": "object",
        "required": [
          "status",
          "task_id",
          "chat_id"
        ],
        "title": "ChatResponse"
      },
      "queueing_tags_HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/queueing_tags_ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "queueing_tags_HealthResponse": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Service health indicator; 'healthy' when the API is up"
          }
        },
        "type": "object",
        "required": [
          "status"
        ],
        "title": "HealthResponse"
      },
      "queueing_tags_ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    }
  }
}